*{
    letter-spacing: 2px;
    font-family: sens-serif;
    box-sizing: border-box;
}
body{
  background-image: linear-gradient(0deg,rgba(230,230,250,0.6),rgba(230,230,250,0.6));
}
.navbar {
  background-color: darkslateblue;
  overflow: hidden;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

.dropdown {
  float:right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  color: white;
  padding: 20px 40px;
  background-color: #777;
  font-family: sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: black;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.dropbtn img{
    width: 25px;
    height: 25px;
    border-radius:50%;
    transform: translate(2px,5px);
}
.mybookings{
    width: 100%;
    background: transparent;   
    text-align: justify;
    color: black;
    padding: 10px 20px 10px 100px;
}
.cancel{
    width: 100px;
    padding: 10px;
    color: white;
    background-color: darkslateblue;
    border-style: none;
    box-shadow: 0 0 3px gray;
    font-size: 15px;
}
.history{
    display: block;
    background: transparent;
    padding: 10px 20px 10px 20px;
}
.cancel:hover{
    background-color: forestgreen;
}
.input-box{
  width: 30%;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 3px;
  color: black;
  background: transparent;
  border-style: none;
}
label{
  font-weight: bold;
  font-size: 17px;
}
p{
  font-size: 17px;
}

