
body{
   
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/back4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
     letter-spacing: 2px;
     font-family: sens-serif;
      box-sizing: border-box;
}

h3{
    color: darkslateblue;
    text-align: center;
}
.form-container{
  width: 50%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 4px gray;
  transform: translateX(50%);
  display: block;
  text-align: center;
}
.form{
    width: 100%;
    background: transparent;
    margin-left: 10%;
}
.input-box{
  width: 80%;
  padding: 15px 0 15px 20px;
  display: block;
  font-size: 15px;
  border-radius: 3px;
  color: black;
  background-color: #ddd;
  border-style: none;
  box-shadow: 0 0 3px gray;
}
#account,#ifsc
{
    background-color: white;
}
.reg-btn{
    background-color: darkslateblue;
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 17px;
    border-radius: 2px;
    border-style: none;
    box-shadow: 0px 0px 4px gray;
}
.reg-btn:hover{
    background-color: forestgreen;
    cursor: pointer;
}
p{
    color: red;
    text-align: justify;
    padding: 0 20px 0 20px;
    font-weight: bold;
}